<meta charset="UTF-8" />
<title>PFK - E-commerce</title>
<script type="text/javascript" src="https://sandbox.boletobancario.com/boletofacil/wro/direct-checkout.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<style>
    * {
	font-family:Arial;
}
body {
	margin:0;
	padding:0;
}
.pretopo {
	height: 40px;
	line-height: 40px;
	background-color: #e6e6e6;
	text-align: center;
}
.topo {
	height:50px;
	background-color:#222;
}
.topointerior {
	width:1000px;
	margin:auto;
	color:#FFFFFF;
}
.logomarca {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
	padding-top: 5px;
}
.menu {
	text-align: center;
}
.menu ul,
.menu li {
	margin:0;
	padding:0;
	list-style:none;
}
.menu li {
	display: inline-block;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	line-height: 50px;
	font-size:15px;
	cursor:pointer;
}
.menu li a, .logomarca a {
	color: white;
	text-decoration: none;
}
.menu li:hover {
	color: #ccc;
}
.botao {
	background-color:#ffc001;
	width:282px;
	height:56px;
	font-size:20px;
	text-align:center;
	line-height:56px;
	margin-top:20px;
	cursor:pointer;
	border-radius:5px;
}
.conteudointerno {
	width: auto;
	margin: auto;
	text-align: center;
}
.outrosprodutos {
	height: 90px;
	font-size: 24px;
	text-align: center;
	line-height: 90px;
	font-weight: bold;
}
.fotos img {
	margin-left:10px;
	margin-right:10px;
	width: 400px;
	height: 400px;
}
.rodape {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-color:#222;
	height:50px;
	text-align:center;
	line-height:50px;
	color:#FFFFFF;
	margin-top:40px;
}
.login, .register {
	padding-left: 800px;
	padding-right: 800px;
	padding-bottom: 50px;
    text-align: center;
}
.botoes button{
	margin-left: 160px;
	margin-right: 160px;
	background-color: #222;
	color: white;
}
.valores p {
	display: inline-flex;
	padding-left: 187px;
	padding-right: 187px;
}
</style>