<div class="pretopo">
    Aproveite 15% OFF
</div>
<div class="topo">
    <div class="topointerior">
        <div class="logomarca">
            <a href="/">kapiWEAR</a>
        </div>
    </div>
</div>
<div class="topo">
    <div class="topointerior">
        <div class="menu">
            <ul>
                <li>
                <a href="/">SHOP</a>
                </li>
                <li> 
                <a href="cart">CART</a>
                </li>
                <li> 
                <a href="register">REGISTER</a>
                </li>
                <li> 
                <a href="login">LOGIN</a>
                </li>
                <li>
                <a href="admin">ADMIN</a>
                </li>
                <li>
                <a href="politicy">PRIVACY POLICY</a>
                </li>
            </ul>
        </div>
    </div>
</div>