<div class="pretopo">
    Aproveite 15% OFF
</div>
<div class="topo">
    <div class="topointerior">
        <div class="logomarca">
            <a href="/">kapiWEAR</a>
        </div>
    </div>
</div>
<!-- Código de instalação Cliengo para  ricardo.santana@linkapi.com.br -->
<script type="text/javascript">(function () {
	var ldk = document.createElement('script');
	ldk.type = 'text/javascript';
	ldk.async = true;
	ldk.src = 'https://s.cliengo.com/weboptimizer/618925ac957a85002a04cc14/618925af957a85002a04cc17.js?platform=dashboard';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ldk, s);
})();</script>
<div class="topo">
    <div class="topointerior">
        <div class="menu">
            <ul>
                <li>
                <a href="/">SHOP</a>
                </li>
                <li> 
                <a href="login">ACCOUNT</a>
                </li>
                <li>
                <a href="user">PAINEL</a>
                </li>
                <li>
                    <a href="politicy">PRIVACY POLICY</a>
                </li>
            </ul>
        </div>
    </div>
</div>