<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Account</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <br>
        <h4>ACCOUNT</h6><BR>
              <div class="conteudo">
                <div class="conteudointerno">
                    <hr>
                  <form class="account" id="form-login">
                    <div class="mb-3">
                      <label for="email" class="form-label">NOME</label>
                      <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">SOBRENOME</label>
                        <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">E-MAIL</label>
                      <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">CPF</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                      </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">ALTERAÇÃO DE SENHA</label>
                        <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                        <br>
                        <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                    </div>
                    <button id="btn_login" type="button" class="btn btn-secondary">SALVAR ALTERAÇÕES</button>
                    <li>
                        <a href="user">VOLTAR</a>
                    </li>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
