<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Admin</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <br>
        <h4>ADMIN</h6><BR>
        Saldo da empresa: R$ <%= balance.Saldo %>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
