<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Adress</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <br>
        <h4>ADRESS</h6><BR>
            <div class="conteudo">
                <div class="conteudointerno">
                    <hr>
                  <form class="adress" id="form-login">
                    <div class="mb-3">
                      <label for="email" class="form-label">Rua</label>
                      <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Numero</label>
                        <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Complemento</label>
                      <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">CEP</label>
                        <input type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" required />
                    </div>
                    <button id="btn_login" type="button" class="btn btn-secondary">Atualizar</button>
                    <li>
                        <a href="user">VOLTAR</a>
                    </li>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
