<!DOCTYPE html>
<html lang="pt">
  <title>KapiWear - Cart</title>
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>
<br>
<div class="conteudo">
  <div class="conteudointerno">
	<form class="cep">
		<div class="mb-3">
			<div>CART</div>
			<hr>
			<div id="form_cep"></div>
			<div>
			  <label for="postCode" class="form-label">CEP</label>
			  <input type="text" id="postCode" name="postCode" class="form-control col-md-6" required />
			  <br>
			  <button id="btn_cep" type="button" class="btn btn-secondary">Calcular</button>
			</div>
		  </div>
		</div>
	</form>
	<script src="js/correios.js"></script>
<footer>
    <%- include('../partials/footer'); %>
</footer>
