<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
	<div class="conteudo">
		<div class="conteudointerno">
			<div class="outrosprodutos">
				CART
			</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>