<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
	<div class="conteudo">
		<div class="conteudointerno">
			<div class="outrosprodutos">
				T-SHIRTS
			</div>
			<div class="fotos">
				<div>
					<img src="./img/produto.jpg"/>
					<img src="./img/produto2.jpg"/>
					<img src="./img/produto3.jpg"/>
				</div>
				<div class="valores">
					<p>R$ 99</p>
					<p>R$ 99</p>
					<p>R$ 99</p>
				</div>
				<div class="botoes">
					<button>ADD CART</button>
					<button>ADD CART</button>
					<button>ADD CART</button>
				</div>
			</div>
		</div>
	</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>