<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Order</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <br>
        <h4>ORDERS</h6><BR>
        <hr>
        <li>
            <a href="user">VOLTAR</a>
        </li>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
