<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Privacy Policy</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <br>
        <h4>PRIVACY POLICY</h6><BR>
        
        <h5>Security Certifications</h5><br>
        <p>
        KapiWear uses data encryption technology so that your information<br>
        transaction is always secure. All data processed during purchase is<br>
        managed in a secure and encrypted environment.<br>
        <br>
        The ‘Authentic Site Secured by SSL’ certificate guarantees that every<br>
        transaction involving payment, whether by credit card or not, is<br>
        encrypted with SSL (Secure Socket Layer) technology. Another<br>
        important tool in the administration and detection of fraud in internet<br>
        sales is ‘FControl Anti Fraud’, a sophisticated system capable of<br>
        detecting and preventing fraud in real time.<br><br>
        </p>

        <h5>Information security</h5><br>
        <p>
        When registering, the customer informs personal data such as name,<br>
        e-mail, delivery and billing address, contact telephone number, CPF,<br>
        and date of birth. Any information provided by the user will be<br>
        obtained and stored in accordance with strict security and reliability standards.<br>
        <br>

        KapiWear will not sell, rent or transfer this data to third parties under<br>
        any circumstances. However, this information can be grouped and<br>
        used, internally, as generic statistics, in order to obtain a better<br>
        understanding of the profile of our users.<br><br>
        </p>

        <h5>Offers and services email</h5><br>
        <p>
        Your email address is also treated confidentially and is not given to<br>
        anyone. Only those who have signed up to receive our releases and<br>
        promotions will receive newsletters and special offers via email. By<br>
        registering on our website, you will be able to choose whether or not<br>
        you wish to receive e-mails with information and promotions.<br>
        <br>
        KapiWear is against sending emails without prior authorization<br>
        (known as SPAM). No customer will receive unwanted and unsolicited<br>
        messages in their email. You can unsubscribe from our newsletters at<br>
        any time through the unsubscribe link in each newsletter.<br>
        </p>
        <br>

        <h5>History of Products Viewed on the Site</h5><br>
        <p>
        KapiWear automatically receives and stores, through cookies,<br>
        information about browser activities, including the IP address and<br>
        pages accessed. These activity logs will only be used to recognize a<br>
        constant visitor, improve the shopping experience and enable<br>
        personalized features such as product recommendations, virtual<br>
        advertising and items previously saved in the shopping cart, for example.<br>
        <br>
        Cookies are small data files transferred from a website to your<br>
        computer's disk and do not store personal data such as your name,<br>
        address or credit card number. You can also disable the saving of<br>
        cookies in your browser, delete them and manage their use through<br>
        the browser settings you use to access the KapiWear website.<br>
        </p>
        <br>
        
        <h5>Responsibility of users/customers</h5><br>
        <p>
        It is the user's responsibility to keep the password and login<br>
        information for access. It is not recommended to use obvious<br>
        passwords such as special dates, names or number sequences. If the<br>
        user becomes aware or just suspects that their password has been<br>
        discovered, they will have to change it on their registration page.<br>
        </p>
        <br>

        <h5>Ownership of Information</h5><br>
        <p>
        All information on this website is owned by KapiWear, therefore, it<br>
        cannot be altered, copied, extracted or in any way used without prior<br>
        and express written authorization. Thus, when accessing the website,<br>
        the user is aware that the improper use of the information contained<br>
        herein may lead to civil and criminal sanctions.<br>
        </p>
        <br>

        <h5>PART 1 – WHAT WILL WE DO WITH THIS INFORMATION?</h5><br>
        <p>
        When you carry out any transaction with our store, as part of the<br>
        purchase and sale process, we collect the personal information you<br>
        give us, such as: name, email and address.<br>
        <br>
        
        When you access our website, we also automatically receive your<br>
        computer's internet protocol, IP address, in order to obtain<br>
        information to help us learn about your browser and operating system.<br>
        <br>
        
        Email Marketing will only be done if you allow it. In these emails you<br>
        can receive news about our store, new products and other updates.<br>
        <br>
        </p>

        <h5>PART 2 - CONSENT</h5><br>
        <p>
        How do you get my consent?
        <br>
        
        When you provide personal information such as name, phone number<br>
        and address, to complete: a transaction, verify your credit card, place<br>
        an order, arrange a delivery or return a purchase. After carrying out<br>
        actions, we understand that you agree with the collection of data to<br>
        be used by our company.<br>
        <br>
        
        If we ask for your personal information for a secondary reason, such<br>
        as marketing, we will ask you directly for your consent, or provide you<br>
        with the opportunity to say no.<br>
        <br>

        And if you want to withdraw your consent, how to proceed?
        <br>

        If after you provide us with your data, you change your mind, you can<br>
        withdraw your consent for us to contact you for the continued<br>
        collection of data, use or disclosure of your information.<br>
        at any time by contacting us at contato.kapiwear.com.br<br>
        <br>
        </p>

        <h5>PART 3 - THIRD PARTY SERVICES</h5><br>
        <p>
        In general, third party providers used by us will only collect, use and<br>
        disclose your information to the extent necessary to enable them to<br>
        perform the services they provide to us.<br>
        <br>
        
        KapiWear works in partnership with the payment company Mercado Pago ®️,<br>
        all your purchases are shared directly with Mercado Pago ®️,<br>
        without sharing with third parties.<br>
        <br>
        
        Mercado Pago ®️ has its own privacy policy, so KapiWear does not<br>
        interfere with the company responsible for paying the site.<br>
        <br>

        Once you leave our store's website or are redirected to a third-party<br>
        app or website, you will no longer be bound by this Privacy Policy or<br>
        our website's Terms of Service.<br>
        <br>
        </p>

        <h5>Links</h5><br>
        <p>
        When you click on links in our store, they can take you away from our<br>
        site. We are not responsible for the privacy practices of other<br>
        websites and encourage you to read their privacy statements.<br>
        <br>
        </p>

        <h5>PART 4 - SECURITY</h5><br>
        <p>
        To protect your personal information, we take reasonable precautions<br>
        and follow industry best practices to ensure that it is not<br>
        inappropriately lost, misused, accessed, disclosed, altered or destroyed.<br>
        <br>

        If you provide us with your credit card information, that information is<br>
        encrypted using “secure socket layer” (SSL) technology and stored<br>
        with AES-256 encryption. While no method of transmission over the<br>
        Internet or electronic storage is 100% secure, we follow all PCI-DSS<br>
        requirements and implement additional generally accepted industry standards.<br>
        <br>
        </p>

        <h5>PART 5 - CHANGES TO THIS PRIVACY POLICY</h5><br>
        <p>
        We reserve the right to modify this privacy policy at any time, so<br>
        please review it frequently. Changes and clarifications will take effect<br>
        immediately after their publication on the website. If we make<br>
        material changes to this policy, we will notify you here that they have<br>
        been updated so that you are aware of what information we collect,<br>
        how we use it, and under what circumstances, if any, we use and/or disclose it.<br>
        <br>

        If our store is acquired or merged with another company, your<br>
        information may be transferred to the new owners so that we can<br>
        continue to sell products to you.<br>
        </p>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
