<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Dashboard</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <div class="user">
            <br>
            <h4>DASHBOARD</h6><BR>
            <div>
                Pedidos
                <hr>
                Endereço
                <hr>
                Conta
                <hr>
                Sair
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
