<!DOCTYPE html>
<html lang="pt">
    <title>KapiWear - Dashboard</title>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<div class="conteudo">
    <div class="conteudointerno">
        <div class="user">
            <br>
            <h4>PAINEL</h6><BR>
            <div>
                <hr>
                <a class="dashboard" href="order">Pedidos</a>
                <hr>
                <a class="dashboard" href="adress">Endereços</a>
                <hr>
                <a class="dashboard" href="account">Conta</a>
                <hr>
            </div>
        </div>
    </div>
</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>
